.userheader{

  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top:50px;
  margin-bottom:15px;
  width: 700px;
}

.image-greeting{
  display: flex;
  align-items: center;
}

.userheader-greeting{
  font-size: 42px;
  margin-left:10px;
}

.user-image{
  border-radius:50%;
  border: none;
  height:60px;
  width: 60px;
}

.userheader-buttons-container{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 700px;
}

.create-idea-button,
.logout-button,
.accounthome-button {
  width: 127px;
  height: 45px;
  font-size: 18px;
  text-transform: uppercase;
  background: #FDD33E;
  border: none;

}

/* Media Queries */

@media only screen and (max-width: 400px){

  .userheader-buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 90%;
  }
  .userheader{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom:15px;
    width: 100%;
  }

  .create-idea-button,
  .logout-button,
  .accounthome-button {
    width: 90px;
    height: 45px;
    font-size: 15px;
    text-transform: uppercase;
    background: #FDD33E;
    border: none;
  
  }






}
