.show-ideas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.idea-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 64px;
  text-transform: uppercase;
  margin-bottom: 25px;
 
}

.idea-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.idea-gallery {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;

}

.img {
  width: 150px;
  height: 150px;
}

.create-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 45px;
  width: 127px;
  background: #FDD33E;
  border: none;
  text-transform: uppercase;
  font-size: 18px;

}

/* Media Queries */

@media only screen and (max-width: 375px){

.idea-gallery{
  flex-direction: column;

}

.img{
  height: 250px;
  width: 250px;
}

.idea-title-under-image{
  font-size: 25px;
}

}