@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.update-idea-title{

}

.update-idea-input-fields{
display: flex;
flex-direction: column;
align-items: center;

}

.update-title{

}

.update-title-field{
height: 86px ;
width: 600px;
font-size: 72px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: .5px solid black;
}

.update-date{

}
.update-date-field{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: .5px solid black;
  margin-top: 15px;
  height: 40px;
  width: 600px;
  font-size: 30px;

}

.update-notes{

}

.update-notes-field{
  border: .5px solid black;
  font-family: 'Roboto', sans-serif;
  height: 100px;
  width: 600px;
  margin-top: 15px;
}

.update-image{

}

.update-image-field{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: .5px solid black;
  width: 600px;
  margin-top:15px;
}

.update-submit-button{
text-transform: uppercase;
font-size: 36px;
margin-top:15px;
background: transparent;
border: .5px solid black

}

.update-submit-button:hover {
background:#FDD33E;
}

@media only screen and (max-width: 400px){

  

}