.register-form{
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;

}

.register-title{

  font-size: 96px;
  margin: auto;
  text-transform: uppercase;
  margin-top:25px;  
}

.register-input-fields{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
}

.register-name-field,
.register-email-field,
.register-username-field,
.register-password-field
{
  width: 259px;
  height: 47px;
  text-align: center;
  font-size: 18px;
}

.register-submit-button{
  appearance: none;
  width: 130px;
  height: 50px;
  background: #C4C4C4;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
}

@media only screen and (max-width: 750px) {

  .register-title{ 
    text-align: center;
    font-size: 70px;
  }

}